<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text">
    <div class="logo-img">
      <img src="/assets/images/angular2-logo-red.png" alt="" />
    </div>
    Creative Tim
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons" aria-hidden="true">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <div class="p-3">
    <div class="card">
      <div class="card-body">
        Phần qly nhân viên, admin có quyền cho user sử dụng các trường, các mục,
        cột tỏng trang tính - có thể chia theo nhóm user - nhóm kinh doanh - kĩ
        thuật - quản lý
      </div>
    </div>
  </div>
</div>
