<div class="logo">
  <a href="/" class="simple-text hidden-on-mini-bar">
    <div class="logo-img">
      <img src="/assets/images/angular2-logo-red.png" alt="" />
    </div>
    Creative Tim
  </a>
  <button
    id="minimizeSidebar"
    class="btn btn-just-icon btn-white  "
    (click)="toggleMenu()"
  >
    <i class="material-icons" aria-hidden="true">menu</i>
  </button>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons" aria-hidden="true">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <div class="p-3  hidden-on-mini-bar">
    <div class="card ">
      <div class="card-body">
        Phần qly nhân viên, admin có quyền cho user sử dụng các trường, các mục,
        cột tỏng trang tính - có thể chia theo nhóm user - nhóm kinh doanh - kĩ
        thuật - quản lý
      </div>
    </div>
  </div>
</div>
